<script src="/javascript/navBar.js" defer></script>
<header id="navBar">
  <h1 class="logo">
    <a href="/">Food delivery App</a>
  </h1>
  <ul class="nav">
    <li class="nav-item">
      <a href="/">Shop</a>
    </li>
    <li class="nav-item">
      <a href="/orders">Orders</a>
    </li>
    <li>
      <a href="login">Login</a>
    </li>
    <li>
      <a class="cart-preview" href="/cart">
        <span class="text"> Cart </span>
        <div class="cart-items">
          <div class="number"><%= total %></div>
        </div>
      </a>
    </li>
  </ul>
</header>
