<%- include('../includes/Head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<div class="login-register-container">
  <form action="/login" method="POST" class="login-register-form">
    <div class="input-field">
      <label for="username">Email</label>
      <input type="email" name="email" id="username" />
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="buttons">
      <button type="submit">Login</button>
      <a href="/register">Register</a>
    </div>
  </form>
</div>
<%- include('../includes/End.ejs') %>
