<%- include('../includes/Head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<form action="/login" method="POST">
  <label for="username">Email</label>
  <input type="email" name="email" id="username" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  <button type="submit">Login</button>
  <a href="/register">Register</a>
</form>
<%- include('../includes/End.ejs') %>
